.dark {
    background-color: #0e0e10;
    color: #fff;
}

.dark .ant-card-meta-description,.black .ant-card-meta-title {
    color: #fff;
}

.dark .ant-card-actions {
    border-top: 1px solid #0e0e10;
}

.dark .ant-card-actions>li:not(:last-child) {
    border-right: none;
}

.dark .nowplaying .ant-card {
    background-color: #32323f;
    border: none;
    border-top: 1px solid #0e0e10;
    box-shadow: none!important;
}

.dark .filters {
    background-color: #32323f;
}

.dark .filters h3 {
    color: #fff;
}

.dark .queue {
    background-color: #32323f;
    border-color: #0e0e10;
}

.dark button:not(.ant-switch) {
    background-color: #32323f!important;
    color: #fff!important;
}

.dark button:hover {
    background-color: #258a85!important;
    color: #fff!important;
}

.dark button:disabled,
.black button:disabled:hover:not(.ant-switch),
.black button[disabled],
.black button[disabled]:hover:not(.ant-switch) {
    background-color: #40404e!important;
    color: #fff!important;
}

.dark button:not(.ant-switch) {
    border: none;
}

.dark p {
    color: #fff;
}


.dark .brasilboardd > a {
	color: #fff;
}