.dark {
    background-color: #0e0e10;
    color: #fff;
}

.dark .ant-card-meta-description,
.dark .ant-card-meta-title {
    color: #fff;
}

.dark .ant-card-actions {
    border-top: 1px solid #0e0e10;
}

.dark .ant-card-actions>li:not(:last-child) {
    border-right: none;
}

.dark .nowplaying .ant-card {
    background-color: #32323f;
    border: none;
    border-top: 1px solid #0e0e10;
    box-shadow: none!important;
}

.dark .filters {
    background-color: #32323f;
}

.dark .filters h3 {
    color: #fff;
}

.dark .queue {
    background-color: #32323f;
    border-color: #0e0e10;
}

.dark button:not(.ant-switch) {
    background-color: #32323f!important;
    color: #fff!important;
}

.dark button:hover {
    background-color: #258a85!important;
    color: #fff!important;
}

.dark button:disabled,
.dark button:disabled:hover:not(.ant-switch),
.dark button[disabled],
.dark button[disabled]:hover:not(.ant-switch) {
    background-color: #40404e!important;
    color: #fff!important;
}

.dark button:not(.ant-switch) {
    border: none;
}

.dark p {
    color: #fff;
}


.dark .brasilboardd > a {
	color: #fff;
}

.loader-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    place-items: center;
    z-index: 100;
}

.spinner {
    width: 64px;
    height: 64px;
    border: 8px solid;
    border-color: #3d5af1 transparent #3d5af1 transparent;
    border-radius: 50%;
    animation: spin-anim 1.2s linear infinite;
}

@keyframes spin-anim {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}