.music {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	padding: 1rem;
	margin-inline: auto;
	gap: 3rem;
	width: 100%;
	align-items: start;
	justify-content: center;
	justify-items: center;
}

.music > div .music > form {
	border: 1px solid black;
	border-radius: 5px;
	width: 100%;
}

.ant-card-cover {
	display: flex;
	align-content: center;
	justify-content: center;
}

.ant-card-cover img {
	max-width: 25vw;
}

.nowplaying .ant-card {
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 66, 0.1);
}

.nowplaying .ant-card-actions > li {
	margin: 0;
	padding: 0;
}

.nowplaying-card {
	max-width: 100% !important;
	padding-top: 2rem !important;
}

button:not(.ant-switch) {
	background-color: #ffffff;
	border: none;
	color: black;
	padding: 1rem 0.5rem;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	width: 100%;
	font-size: 16px;
}

button:hover:not(.ant-switch) {
	background-color: rgb(37, 138, 133);
	border: none;
	color: black;
	padding: 1rem 0.5rem;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	display: inline-block;
	width: 100%;
}

button:active:not(.ant-switch) {
	transform: translateY(2px);
}

button:disabled,
button[disabled] {
	background-color: #f5f5f5;
	color: rgba(0, 0, 0, 0.25);
}

button:disabled:hover:not(.ant-switch),
button[disabled]:hover:not(.ant-switch) {
	cursor: not-allowed;
	transform: none;
	background-color: #f5f5f5;
	color: rgba(0, 0, 0, 0.25);
}

.filterUl {
	display: flex;
	flex-flow: row;
}

.filterUl > div {
	margin: 0.3rem 0.7rem;
}

.filtername {
	width: 10rem;
}

#sgprog {
	width: 100%;
}

.ant-card-meta-detail {
	width: 100%;
}

.ant-card-body {
	max-width: 30vw;
}

.ant-divider-horizontal {
	margin: 1rem 0 !important;
}

.infobox {
	margin-top: 2rem !important;
	padding: 1rem !important;
	text-align: center;
	justify-items: center;
	align-items: center;
	max-width: 30vw !important;
}

.brasilboardd {
	padding: 1rem !important;
	text-align: center;
	justify-items: center;
	align-items: center;
	max-width: 30vw !important;
	display: flex;
	flex-direction: row;
}

.brasilboardd > a {
	color: black;
}

.brasilboardd > * {
	flex-basis: 50%;
}

.requesterdiv {
	align-items: center;
	margin: 0rem 2rem;
	justify-items: center;
	max-width: 25%;
}

.next {
	display: flex !important;
	justify-content: center;
	justify-items: center;
	align-items: center;
}

@media only screen and (max-width: 1600px) {
	button:not(.ant-switch) {
		white-space: nowrap;
	}
	.ant-card-cover img {
		display: none;
	}
	.ant-card-body {
		max-width: none !important;
	}
	.nowplaying {
		min-width: 90%;
	}
	.infobox {
		max-width: none !important;
	}
	.brasilboardd {
		max-width: none !important;
	}
}
