.music {
	display: flex;
	flex-flow: row;
	flex-wrap: wrap;
	flex: 1 1 30%;
	padding: 1rem;
	margin-inline: auto;
	gap: 3rem;
	width: 100%;
}

.music > div .music > form {
	border: 1px solid black;
	border-radius: 5px;
	width: 100%;
}

.nowplaying {
	padding: 0.5rem;
	min-width: 30vw;
	margin-inline: auto;
}

.ant-card-cover img {
	max-width: 30vw;
}

.nowplaying .ant-card {
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 66, 0.1);
}

.nowplaying .ant-card-actions > li {
	margin: 0;
	padding: 0;
}

.nowplaying-card {
	max-width: 100% !important;
}

button:not(.ant-switch) {
	background-color: #ffffff;
	border: none;
	color: black;
	padding: 1rem 0.5rem;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	width: 100%;
	font-size: 16px;
}

button:hover:not(.ant-switch) {
	background-color: rgb(37, 138, 133);
	border: none;
	color: black;
	padding: 1rem 0.5rem;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	display: inline-block;
	width: 100%;
}

button:active:not(.ant-switch) {
	transform: translateY(2px);
}

button:disabled,
button[disabled] {
	background-color: #f5f5f5;
	color: rgba(0, 0, 0, 0.25);
}

button:disabled:hover:not(.ant-switch),
button[disabled]:hover:not(.ant-switch) {
	cursor: not-allowed;
	transform: none;
	background-color: #f5f5f5;
	color: rgba(0, 0, 0, 0.25);
}

.filterUl {
	display: flex;
	flex-flow: row;
}

.filterUl > div {
	margin: 0.3rem 0.7rem;
}

.filtername {
	width: 10rem;
}

.queue {
	padding: 0.5rem;
	border: 1px solid rgba(0, 0, 0, 0.06);
	border-radius: 5px;
	width: 35%;
	margin-inline: auto;
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 66, 0.1);
}

.queue > ul {
	margin: 1rem 0;
	padding: 0;
	list-style: none;
}

#sgprog {
	width: 100%;
}

.ant-card-meta-detail {
	width: 100%;
}

.ant-card-body {
	max-width: 30vw;
}

.queue-list-item {
	display: flex;
	flex-flow: row;
	padding: 0;
	margin: 0;
	max-height: 6rem;
}

.queue-list-item button {
	width: "50%";
	line-height: 50%;
	height: 50%;
	text-transform: uppercase;
	text-align: center;
	justify-items: center;
	border-right: 1px solid rgba(0, 0, 0, 0.06);
}

.queue-list-item button:not(:last-child) {
	border-bottom: 1px solid rgba(0, 0, 0, 0.06);
}

.queue-list-item button:hover {
	width: "50%";
	border-right: 1px solid rgba(0, 0, 0, 0.06);
}

.queue-list-item > div.queue-item-name {
	display: flex;
	width: 100%;
	justify-items: center;
	place-content: space-between;
}

div.queue-item-name > a,
div.queue-item-name > span {
	margin: auto 1rem;
	text-align: center;
}

div.queue-item-name > span {
	align-self: flex-end;
}

.queue-adder > button {
	width: 25%;
	border-bottom: 1px solid rgba(0, 0, 0, 0.06);
	border-left: 1px solid rgba(0, 0, 0, 0.06);
}

.queue-adder > button:hover {
	width: 25%;
	border-bottom: 1px solid rgba(0, 0, 0, 0.06);
	border-left: 1px solid rgba(0, 0, 0, 0.06);
}

.last-adder {
	border-right: 1px solid rgba(0, 0, 0, 0.06) !important;
}

.queue-pages > button {
	width: 25%;
	border-bottom: 1px solid rgba(0, 0, 0, 0.06);
	border-left: 1px solid rgba(0, 0, 0, 0.06);
}

.queue-pages > button:hover {
	width: 25%;
	border-bottom: 1px solid rgba(0, 0, 0, 0.06);
	border-left: 1px solid rgba(0, 0, 0, 0.06);
}

.ant-divider-horizontal {
	margin: 2.1rem 0 !important;
}

.infobox {
	margin-top: 2rem !important;
	padding: 1rem !important;
	text-align: center;
	justify-items: center;
	align-items: center;
	max-width: 30vw !important;
}

.requesterdiv {
	align-items: center;
	margin: 2rem;
	justify-items: center;
	max-width: 25%;
}

@media only screen and (max-width: 1600px) {
	.ant-card-cover img {
		max-width: none !important;
	}
	.ant-card-body {
		max-width: none !important;
	}
	.nowplaying {
		min-width: 90%;
	}
	.queue {
		min-width: 90%;
	}
	.infobox {
		max-width: none !important;
	}
}
