.queue {
	padding: 0.5rem;
	border: 1px solid rgba(0, 0, 0, 0.06);
	border-radius: 5px;
	width: 100%;
	margin-inline: auto;
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 66, 0.1);
}

.queue > ul {
	margin: 1rem 0;
	padding: 0;
	list-style: none;
}

.queue-list-item {
	display: flex;
	flex-flow: row;
	padding: 0;
	margin: 0;
	max-height: 6rem;
}

.queue-list-item button {
	width: "50%";
	line-height: 50%;
	height: 50%;
	text-transform: uppercase;
	text-align: center;
	justify-items: center;
	border-right: 1px solid rgba(0, 0, 0, 0.06);
}

.queue-list-item button:not(:last-child) {
	border-bottom: 1px solid rgba(0, 0, 0, 0.06);
}

.queue-list-item button:hover {
	width: "50%";
	border-right: 1px solid rgba(0, 0, 0, 0.06);
}

.queue-list-item > div.queue-item-name {
	display: flex;
	width: 100%;
	justify-items: center;
	place-content: space-between;
}

div.queue-item-name > a,
div.queue-item-name > span {
	margin: auto 1rem;
	text-align: center;
}

div.queue-item-name > span {
	align-self: flex-end;
}

.queue-adder {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

.queue-adder > button {
	border-bottom: 1px solid rgba(0, 0, 0, 0.06);
	border-left: 1px solid rgba(0, 0, 0, 0.06);
}

.queue-adder > button:hover {
	border-bottom: 1px solid rgba(0, 0, 0, 0.06);
	border-left: 1px solid rgba(0, 0, 0, 0.06);
}

.queueInput {
	grid-column-end: 5;
	grid-column-start: 1;
}

.last-adder {
	border-right: 1px solid rgba(0, 0, 0, 0.06) !important;
}

.queue-pages {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

.queue-pages > button {
	border-bottom: 1px solid rgba(0, 0, 0, 0.06);
	border-left: 1px solid rgba(0, 0, 0, 0.06);
}

.queue-pages > button:hover {
	border-bottom: 1px solid rgba(0, 0, 0, 0.06);
	border-left: 1px solid rgba(0, 0, 0, 0.06);
}
